
@{
    ViewData["Title"] = "Home Page";
}
@model List<Product>


<div class="container mt-5">
    <div class="row">
        @foreach (var product in Model.OrderBy(p => p.Name))
        {
            <div class="col-md-4">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">@product.Name</h4>
                        <h6 class="card-subtitle mb-2 text-muted">Product cards</h6>
                        <p class="card-text">Card description</p>

                        <form asp-action="AddToCart" asp-controller="Cart" method="post">
                            <input type="hidden" name="productId" value="@product.Id" />

                            <div class="input-group quantity-selector">
                                <input type="number" id="inputQuantitySelector" class="form-control" aria-live="polite" data-bs-step="counter" name="quantity" title="quantity" value="1" min="1" max="@product.StockQty" step="1" data-bs-round="0" aria-label="Quantity selector">
                                <button type="button" class="btn btn-icon btn-secondary" aria-describedby="inputQuantitySelector" data-bs-step="down">
                                    <span class="visually-hidden">Step down</span>
                                </button>
                                <button type="button" class="btn btn-icon btn-secondary" aria-describedby="inputQuantitySelector" data-bs-step="up">
                                    <span class="visually-hidden">Step up</span>
                                </button>
                            </div>

                            <div>
                                <label>Prezzo</label>
                            </div>
                            <button type="submit" class="btn btn-primary" data-form-type="action">Add to cart</button>
                        </form>
                    </div>
                </div>
            </div>
        }

    </div>
</div>
