body {
    font-size: 15px;
    font-family: "Poppins", sans-serif;
    color: #000;
}

th{
    font-weight: 600;
}

.title {
    font-size: clamp(15px, 20vw * var(--px2vw), 30px);
}

.paragraph{
    font-size: clamp(13px, 17vw * var(--px2vw), 25px);
}

.tiny-title{
    font-size: clamp(12px, 15vw * var(--px2vw), 20px);
}

.big-title{
    font-size: clamp(25px, 35vw * var(--px2vw), 35px);
}
.semibold{
    font-weight: 500;

}
.bold{
    font-weight: 600;
}

